<!DOCTYPE html>
<html>
  <head>
      <title>Chat Music</title>

  </head>
  <body ng-app="ChatMusic" ng-controller="MainController">
    <div></div>
    <div ng-include="chatTemplate"></div>
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->

    <script src='/socket.io/socket.io.js'> </script>
    <script src='angular/angular.js'></script>
    <script src='js/app.js'></script>
    <script src='js/controllers/mainController.js'></script>
    <script src='js/controllers/ytController.js'></script>
    <script src='js/factories/apiFactory.js'></script>
    <script src='js/directives/youtube.js'></script>
  </body>
</html>